# colcon build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# bag files
data/

# pycache files
__pycache__/

# yolo artifacts
yolo_ws/weights/
yolo_ws/train/
yolo_ws/valid/
yolo_ws/test/

# python wheels
*.whl

# zip files
*.zip
